<div class="row">
	<% @moods.sort_by(&:name).each do |mood| %>
		<div class="col s4">
			<div class="card small blue-grey darken-2">
				<div class="card-image">
					<%= image_tag(mood.image, size: '200x200') %>
				</div>
					<div class="card-content small white-text">
					<span class="card-title">
						<%= link_to mood.name, mood, data: {genre_id: mood.db_genre_id} %>
					</span>
				</div>
			</div>
		</div>
	<% end %>
</div>

