<div class="row">
		<% @moods.sort_by(&:name).each do |mood| %>
		 <div class="col s4">	
			<div class="mood-box">
				<img src= @mood.image>
				<h4><%= link_to mood.name, mood %></h4>
			</div>
	  </div>
		<% end %>
</div>
