<div class="row">
	<% @moods.sort_by(&:name).each do |mood| %>
		<div class="mood-card col s4">
			<div class="card small #81d4fa light-blue lighten-3 hoverable">
				<div class="card-image">
					<%= link_to image_tag(mood.image, size: '200x200', class: "mood-image"), mood, data: mood.db_genre_ids, class: "mood-link" %>
				</div>
					<div class="card-content small white-text">
					<span class="card-title">
						<h4 class="mood-name"><%= link_to mood.name, mood, data: mood.db_genre_ids, class: "mood-link" %></h4>
					</span>
				</div>
			</div>
		</div>
	<% end %>
</div>
