<div class="row">
  <div class="col s12 m6">
    <div class="card #1a237e indigo darken-4">
      <div class="card-content white-text">
        <span class="card-title">contact us</span>
        <p>have a question? want to suggest a new feature? think the site can be improved? if yes, please get in touch by clicking the link below.</p>
        <div class="card-action">
          <a href="mailto:swissjoshua@gmail.com">email us</a>
        </div>
      </div>
    </div>
  </div>
</div>