
console.log('I AM MOODY')

var moodIDs = $('#mood-results').data('mood-genre-ids');
var moodResults = $('#mood-results');

$.get('https://api.themoviedb.org/3/discover/movie?api_key=8a40a9b70991be8016678a3ffc4d6aa2&with_genres=' + moodIDs + '&include_adult=false&sort_by=revenue.desc', function(response) {
	render(response);
})

function render(response) {
	console.log(response);
	var data = response
	$.each(data.results, function(index, value) {
		var movieCardTemplate = '<div class="card movie-card col s6"><div class="card-image waves-effect waves-block waves-light">';
		movieCardTemplate += '<img class="activator" src=https://image.tmdb.org/t/p/w185/' + value.poster_path + '" alt="">';
		movieCardTemplate += '</div>'
		movieCardTemplate += '<div class="card-content">'
		movieCardTemplate += '<span class="card-title activator grey-text text-darken-4">'+ value.original_title +'<i class="material-icons right">more...</i></span>'
		movieCardTemplate += '</div>'
		movieCardTemplate += '<div class="card-reveal">'
		movieCardTemplate += '<span class="card-title grey-text text-darken-4">'+ value.original_title +'<i class="material-icons right">close</i></span>'
    movieCardTemplate += '<p>'+ value.overview +'</p>'
		movieCardTemplate += '</div>'
		
		moodResults.hide().append(movieCardTemplate).fadeIn('slow');
	})

}