@font-face {
	font-family: 
	src url('Roboto-Bold.ttf') format("truetype")
}

footer {
	align: bottom;
	display: inline-block;
}

.copyright {
	display: inline-block;
	vertical-align: top;
	font-family: Roboto-Bold;
	font-size: 10px;
}

p.copyright {
	margin: -12px;
}

.logo {
	display: inline-block;
}